  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    color: #333333;
    font-size: 36px;
  }
  
  p {
    color: #555555;
    font-size: 18px;
  }
  
  h2 {
    color: #007acc;
    margin-top: 30px;
  }